
a {
    color: aliceblue;
    padding: 4px;
    border-radius: 8px;
    margin: 4px;
    background: rgb(186, 119, 98);
}

span {
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



